<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scrapcollector_v1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scrapcollector_v1">
        <activity android:name=".ScrapCollector_RegistrationActivity"></activity>
        <activity android:name=".Customer_RegistrationActivity" />
        <activity android:name=".Admin_LoginActivity" />
        <activity android:name=".ScrapCollector_LoginActivity" />
        <activity android:name=".Customer_LoginActivity" />
        <activity
            android:name=".Welcome"
            android:label="Welcome" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>